<div class="container">
  <section class="side-left">
    <div class="card-left">
      <div class="card-header">
        <h2>Add Information</h2>
        <hr>
      </div>
      <div class="card-form">
        <div class="box-input-image">
          <label for="" class="input-upload-photo">
            <input type="file">
            <fa-icon [icon]="cameraIcon"></fa-icon>
          </label>
          <div class="box-photo">
          </div>
        </div>
        <form action="">
          <div class="form-input-fullname">
            <input type="text" placeholder="Fullname">
            <fa-icon [icon]="pencilIcon"></fa-icon>
          </div>
          <div class="form-input-lastname">
            <input type="text" placeholder="Lastname">
            <fa-icon [icon]="pencilIcon"></fa-icon>
          </div>
          <div class="form-input-age">
            <input type="text" placeholder="Age">
            <fa-icon [icon]="pencilIcon"></fa-icon>
          </div>
          <div class="form-input-email">
            <input type="text" placeholder="Email">
            <fa-icon [icon]="pencilIcon"></fa-icon>
          </div>
          <div class="form-input-phone">
            <input type="text" placeholder="Phone">
            <fa-icon [icon]="pencilIcon"></fa-icon>
          </div>
          <div class="form-input-datebirthday">
            <input type="text" placeholder="Date birthday">
            <fa-icon [icon]="pencilIcon"></fa-icon>
          </div>
          <div class="form-input-civilstatus">
            <input type="text" placeholder="Civil status">
            <fa-icon [icon]="pencilIcon"></fa-icon>
          </div>
          <div class="form-input-job">
            <input type="text" placeholder="Job">
            <fa-icon [icon]="pencilIcon"></fa-icon>
          </div>
        </form>
      </div>
      <button class="save-information">Save</button>
    </div>
  </section>
  <section class="side-right">
    <div class="card-two">
      <div class="card-header">
        <h2>List of clients</h2>
        <hr>
      </div>
        <table class="table-main">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          <tr>
            <td>Jorge LLanque Chagua</td>
            <td>georgellanque@gmail.com</td>
            <td>77317312</td>
            <fa-icon [icon]="pencilIcon"></fa-icon>
            <fa-icon [icon]="deleteIcon"></fa-icon>
          </tr>
          <tr>
            <td>Jorge LLanque Chagua</td>
            <td>georgellanque@gmail.com</td>
            <td>77317312</td>
            <fa-icon [icon]="pencilIcon"></fa-icon>
            <fa-icon [icon]="deleteIcon"></fa-icon>
          </tr>
          <tr>
            <td>Jorge LLanque Chagua</td>
            <td>georgellanque@gmail.com</td>
            <td>77317312</td>
            <fa-icon [icon]="pencilIcon"></fa-icon>
            <fa-icon [icon]="deleteIcon"></fa-icon>
          </tr>
          <tr>
            <td>Jorge LLanque Chagua</td>
            <td>georgellanque@gmail.com</td>
            <td>77317312</td>
            <fa-icon [icon]="pencilIcon"></fa-icon>
            <fa-icon [icon]="deleteIcon"></fa-icon>
          </tr>
        </table>
        <div class="pagination"></div>
    </div>
  </section>
</div>
